# Ignore Terraform state files
.terraform.tfstate
.terraform.tfstate.backup

# Ignore lock files for flexibility
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Ignore .terraform directory
.terraform/
**/.terraform/*

# Ignore provider file
providers.tf

# Ignore Terraform crash logs
crash.log

# Ignore Terraform variable files
# *.tfvars //disabled to allow for test deployment. For production, uncomment this line to avoid exposing sensitive information

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore any plan output files
*.tfplan
